.tactical-lights {
  &__body {
    max-width: 1590px;
    margin: 0 auto;
  }
}
.product-block {
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  width: 770px;

  &__body {

  }
  &__title {

  }
  &__link-title {

  }
  &__text {

  }
  &__button {

  }
  &__image {
    width: 536.28px;
    height: 536.28px;
  }
}