* {
  box-sizing: border-box;
  margin: 0;
}
.burger {
  display: none;
}

a {
  text-decoration: none;
  position: relative;
}
a:hover {
  transition: all 0.2s ease 0.2s;
  color: orange;
}
a:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  right: 0;
  height: 1px;
  background-color:orange;
  display: block;
}
  

body {
  font-family: 'Montserrat', sans-serif;
  background: #F5F5F5;
  max-width: 1920px;
  max-height: 1080px;
  width: 100%;
  padding-bottom: 162px;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
.wrapper {
  width: 100%;
  max-width: 1570px;
  margin: 0 auto;
}
.header-logo img{
  width: 23px;
  height: 22px;
  margin-right: 10px;
}
.item {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: #1C1C1C;
}
.item:not(:last-child) {
  margin-right: 10px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 44px;
  margin-bottom: 38px;
}
@media(max-width: 1576px) {
  .nav {
    padding: 0 5px;
  }
}
@media(max-width: 780px) {
  .nav {
    display: flex;
    margin-top: 44px;
    margin-bottom: 38px;
    flex-wrap: wrap;
  }
}
@media(max-width: 694px) {
  .item {
    margin-right: 10px;
  }
}

.line {
  opacity: 0.07;
  border: 1px solid #1C1C1C;
}
.navSecond {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media(max-width: 1576px) {
  .navSecond {
    padding: 0 5px;
  }
}
@media(max-width: 1576px) {
  .navSecond .item-two {
    margin-right: 10px;
  }
}
.textFirst {
  width: 215px;
  height: 92px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #1C1C1C;
}

b .secondSpan {
  text-align: center;
}
.textEnd {
  margin-top: 10px;
  text-align: center;
}
.pdfContainer {
  display: flex;
  align-items: center;
  
}
.pdf {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.04em;
  color: #12C868;
  background: #FFFFFF;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pdfText {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;
  color: #1C1C1C;
  margin-left: 17px;
  position: relative;
}
.pdfText::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  right: 0;
  border-bottom: 3px dotted #12C868;
  margin-bottom: -3px;
}
.navSecond-logo {
  padding: 27px 43px 43px 43px;
  background: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.03);
  border-radius: 0px 0px 45px 45px;
}
.answer {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #1C1C1C;
  position: relative;
}
.answer::before {
  content: "";
  top: 6px;
  left: 10px;
  position: absolute;
  background: #12C868;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  
 
}
.answer span {
  font-weight: bold;
}
.massangerViber {
  width: 44px;
  height: 44px;
  background: #976FCC;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.massanger {
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.massanger:hover {
 opacity: 0.3;
 cursor: pointer;
}
.massanger img {
  width: 19px;
  height: 19px;
 }
 .telegaIcon {
  width: 17px;
  height: 14px;
 }
.Viber {
  background: #976FCC;
}
.WatsUp {
  background: #12C868;
}
.Telega {
  background: #05A0EB;
}
.massangerContainer {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 16px;
}
@media(max-width: 424px) {
  .mobile {
   display: none;
  }
 }
.week {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #1C1C1C;
}
.week span {
  font-weight: 700;
}
.number {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #1C1C1C;
  margin-top: 6px;
}
.callMe {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #12C868;
  position: relative;
  cursor: pointer;
 
}
.callMe::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 57px;
  width: 105px;
  height: 1px;
  right: 0;
  border-bottom: 3px dotted #12C868;
  margin-bottom: -3px;
}
.main {
  display: flex;
  margin-top: 80px;
}
@media(max-width: 636px) {
  .main {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 636px) {
  .conatinerMiddleText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
/* .conatinerMiddleText {
  width: 100%;
} */
.conatinerAllText {
  background: #FFFFFF;
  box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.03);
  border-radius: 20px;
  width: 225px;
  padding: 63px 0 41px 0;
  display: flex;
  flex-direction: column;
  margin-right: 71px;
  align-items: center;
}
@media(max-width: 636px) {
  .conatinerAllText {
    margin-right: 0px;
    margin-top: 69px;
  }
}



.textMassage {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #1C1C1C;
}
.textMassage span {
  font-weight: 700;
}
.textMassage:not(:last-child) {
  margin-bottom: 48px;
}
.text1 {
  width: 143px;
  
}
.text2 {
  width: 147px;
}
.text3 {
  width: 135px;
}
.text4 {
  width: 164px;
}
.text5 {
  width: 161px;
}
.HeaderText {
  font-weight: 300;
  font-size: 55px;
  line-height: 85px;
  color: #1C1C1C;
  width: 657px;
  margin-bottom: 21px;
}
@media(max-width: 1000px) {
  .HeaderText {
    word-wrap: normal;
    font-size: 30px;
  }
}
@media(max-width: 886px) {
  .HeaderText {
    width: 400px;
    word-wrap: normal;
    font-size: 30px;
    line-height: 45px;
  }
}
/* @media(max-width: 950px) {
  .HeaderText {
    font-size: 20px;
    line-height: 40px;
    text-align: wrap;
  }
} */
.HeaderText span{
  font-weight: 700;
}
.containerButton {
  margin-top: 45px;
}
.ContainerDonut {
  display: flex;
  align-items: center;
  
}
.TextMidle {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #1C1C1C;
}
@media(max-width: 886px) {
  .TextMidle {
    word-wrap: normal;
    font-size: 15px;
  }
}
.cocle {
  border: 1px solid #12C868;
  border-radius: 50%;
  height:9px;
  width:9px;
  margin-right: 7px;
}
.cocle2 {
  border: 1px solid rgba(18, 200, 104, 0.75);
}
.cocle3 {
  border: 1px solid rgba(18, 200, 104, 0.5);
}
.cocle4 {
  border: 1px solid rgba(18, 200, 104, 0.25);
}
.containerButton {
  display: flex;
}
@media(max-width: 1060px) {
  .containerButton {
    flex-wrap: wrap;
  }
}
@media(max-width: 636px) {
  .containerButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 1060px) {
  .btn-orange {
    margin-top: 12px;
  }
}
.btn:hover {
  opacity: 0.6;
  cursor: pointer;
}
.btn {
  background: #12C868;
  box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.25);
  border-radius: 500px;
  padding: 27px 57px 29px 53px;
  width: 375px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.btn-orange {
  background: #F38120;
  margin-left: 18px;
}

.endText {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #1C1C1C;
  width: 234px;
  }
  .footer {
    display: flex;
    margin-top: 38px;
  }
  @media(max-width: 636px) {
    .footer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .footer img{
    width: 21px;
    height: 17px;
  }
.contentPopUp {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .popUp {
    display: none;
  }
  .popUp-active {
    display: block;
    position: absolute;
    width: 550px;
    height: 650px;
    border-radius: 35px;
    z-index: 2;
    left: 650px;
    background-image: url("./icons/Форма.png");
  }
  .active-wrapper {
    opacity: 0.2;
  }
  .closePopUp {
    background: none;
    border: none;
    color:#A0A0A0;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    margin-right: 45px;
    align-self: flex-end;
  }
  .closePopUp:hover {
    color: red;
  }
  .headerPopUP {
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #1C1C1C;
    margin-bottom: 14px;
    
  }
  .headerPopUP p{
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #1C1C1C;
    font-weight: bold;
  }
  .timePopUp {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    width: 342px;
    text-align: center;
    margin-bottom: 24px;
  }
  .daysTextPopUp {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center; 
    color: #000000;
    opacity: 0.75;
    margin-bottom: 28px;
  }
  .numberTelText {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    opacity: 0.75;
    margin-bottom: 12px;
  }
  .telNumber {
    border: none;
    padding: 24px 0px 24px 46px;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    width: 356px;
    border-radius: 40px;
    height: 85px;
    margin-bottom: 24px;
  }
  .btnSent {
    width: 356px;
    border-radius: 40px;
    height: 85px;
    border: none;
    background: #FFFFFF;
    background: #F38120;
    box-shadow: inset 0px 0px 17px rgba(255, 255, 255, 0.25);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 19px;
  }
  .btnSent img{
    margin-left: 19px;
  }
  .btnSent:hover{
    opacity: 0.5;
  }
  .checkBoxPopUp {
    width: 319px;
  }

  #checkbox {
   display: none;
}

label {
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  color: #1C1C1C;
  cursor: pointer;
  position: relative;
}
label span{
  color: #F38120;
}
.containerLable {
  display: flex;
  align-items: center;
} 
label:before {
  content: " ";
  margin-right: 19px;
  position: absolute;
  width: 18px;
  height: 18px;
  background: #F38120;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
}
input:checked + label:before {
  content: "\2713";
  color: #FFFFFF;
}
.text101 {
  display: none;
}
.plus {
  display: none;
  color: #FFFFFF;
  background: #F38120;
  box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.25);
  padding: 11px 12px;
  border-radius: 50%;
}
@media(max-width: 1390px) {
  .popUp-active {
    left: 300px;
  }
}
@media(max-width: 1297px) {
  .popUp-active {
    left: 250px;
  }
}
@media(max-width: 950px) {
  .popUp-active {
    left: 150px;
  }
}
@media(max-width: 800px) {
  .popUp-active {
    left: 100px;
  }
}
@media(max-width: 745px) {
  .popUp-active {
    left: 100px;
    width: 412px;
    height: 552px;
  }
}
@media(max-width: 674px) {
  .popUp-active {
    left: 52px;
    width: 412px;
    height: 552px;
  }
}
@media(max-width: 546px) {
  .popUp-active {
    left: 52px;
    width: 412px;
    height: 552px;
  }
}

@media(max-width: 424px) {
  body {
    background-image: url('./icons/Фон\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    /* overflow: hidden; */
  }
  .mobile {
   display: none;
  }
  .navSecond-logo img{
    width: 51px;
    height: 21px;
    
  }
  .navSecond-logo{
    padding: 15px 12px;
  }
  .navSecond .item-two {
    margin-right: 0px;
  }
  .burger {
      display: block;
  }
  .navSecond {
    display: flex;
    padding: 0 22px;
  }
  .week {
    font-weight: 700;
    font-size: 7px;
    line-height: 9px;
    letter-spacing: 0.02em;
    color: #1C1C1C;
    margin-top: 10px;
    margin-bottom: 4px;
  }
  .number {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #1C1C1C;
    margin-top: 0px;
  }
  .callMe {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #12C868;
  }
  .callMe::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 16px;
    width: 105px;
    height: 1px;
    right: 0;
    border-bottom: 3px dotted #12C868;
    margin-bottom: -6px;
  }
  .main {
    margin-top: 46px;
  }
  .HeaderText {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #1C1C1C;
    width: 276px;
    margin-bottom: 0px;
  }
  .ContainerDonut {
    margin-top: 4px;
  }
  .TextMidle {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #1C1C1C;
  }
  .containMobile {
    display: flex;
    flex-direction:column-reverse;
  }
  .footer {
    margin-top: 18px;
  }
  .endText {
    margin-top: 6px;
    font-weight: 600;
    font-size: 8px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #1C1C1C;
  }
  .containerButton {
    margin-top: 12px;
  }
  .btn {
    width: 276px;
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    padding: 14px  52px 14px 45px;
  }
  .btn-orange {
    margin-left: 0;
  }
  .btn img {
    margin-left: 12px;
  }
  .conatinerAllText {
    background: none;
    box-shadow: none;
    border-radius: 0px;
    width: 200px;
    height: 109px;
    background-image: url('./icons/Форма\ last.png');
    background-size: cover;
    padding-top: 26px;
    padding-left: 23px;
    padding-bottom: 15px;
    padding-right: 14px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

  }
  .text1 {
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #1C1C1C;
    width: 102px;
    }
    .text1 span{
      font-weight: bold;
    }
    .textMassage:not(:last-child) {
      margin-bottom: 7px;
    }
    .text101 {
      display: block;
      font-weight: 400;
      font-size: 6px;
      line-height: 8px;
      color: #B5B5B5;
      width: 112px;
    }
    .plus {
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    ..popUp-active {

    }
 }