html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  min-width: 320px;
  max-width: 1920;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrapper {
  max-width: 1590px;
  padding: 0 15px;
}

input[type="text"],
input[type="phone"],
input[type="email"],
textarea {
  appearance: none;

  &:focus {
    outline: none;
  }
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
